.risk-factors.title {

}

.risk-factors.list {
   border: none;
}

.risk-factors.list.item {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: #404040;
}

.risk-factors.list.item-text span {
    font-size: 13px;
    font-weight: bold;
}

.risk-factors.list.item-text p {
    font-size: 12px;
    color: dimgray;
}

.risk-factors.list.item.normal-risk {
    color: #F2BF31;
    border: none;
    font-size: 25px;
}

.risk-factors.list.item.serious-risk {
    color: #F20304;
    border: none;
    font-size: 25px;
}

.symptom.list.item.emergency-RISK {
    color: 	#940000;
    border: none;
    font-size: 25px;
}
