.Diagnostic {
    margin-top: 50px;
}

.Diagnostic .explanation{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px #e3e3e3 solid;
    border-left: 5px #f2bf31 solid;
}

.Diagnostic .detailsQuiz {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.Diagnostic .titleInformation {
    color: #235588;
}

.Diagnostic .textInformation {
    color: #404040;
}

.Diagnostic .inputFull {
    width: 100%;
    margin-bottom: 5px;
    background-color: white;
    padding-top: 8px;
    border-radius: 5px;
}

.Diagnostic .slide {
    color: #505050;
    width: 90%;
    margin-top: -50px;
}

.Diagnostic .inputFull .titleSelect {
    padding: 10px;
    font-size: larger;
    color: #235588;
}

.Diagnostic .titleSlider {
    font-size: medium;
    color: #235588;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.Diagnostic .symptom {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    color: #202020;
}

.Diagnostic .symptom .span .radioButton {
    font-size: small;
}

.Diagnostic .symptom .select{
    text-align: center;
    margin-top: 25px;
}

.Diagnostic .symptom .titleQuestion{
    font-weight: bold;
    padding: 5px;
    color: #505050;
    font-size: larger;
}

.Diagnostic .helpText{
    text-align: justify;
    background-color: #FDFDFD;
    border-radius: 5px;
    padding: 5px;
    line-height: inherit;
    color: #303030;
    border: 2px #f8f8f8 solid;
    font-size: small;
}

.Diagnostic .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.radioButton {
    padding: 5px 0;
}

.radioButton span{
    font-size: 14px;
}

.emergency-phone {
    margin: 1px 0;
    border-radius: 5px;
    color: #235588;
    background-color: white;
    padding: 5px;
}

.emergency-phone a{
    padding: 7px;
    color: #6CCE52;
}

.emergency-phone svg{
    text-align: center;
    font-size: 30px;
    vertical-align: center;
}

.Diagnostic .result {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px #f8f8f8 solid;
}

.Diagnostic .no_risk{
    border-left: 10px limegreen solid;
    background-color: #e4ffe0;
}

.Diagnostic .self_monitoring{
    border-left: 10px #a9cd54 solid;
    background-color: #e8ffd8;
}

.Diagnostic .quarantine{
    border-left: 10px khaki solid;
    background-color: #fbffe3;
}

.Diagnostic .isolation_call{
    border-left: 10px red solid;
    background-color: #ffddd8;
}

.Diagnostic .isolation_ambulance{
    border-left: 10px red solid;
    background-color: #ffddd8;
}


.Diagnostic .titleService {
    background-color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    line-height: 3px !important;
    color: #235588;
    margin-bottom: 2px;
}

.Diagnostic .contentService {
    background-color: white;
    padding: 5px;
    color: #404040;
    line-height: 15px !important;
    text-align: justify;
}

.dialog {
    background-color: #303030;
    color: #F8F8FD;
}

.dialog .rojo {
    color: red;
}
.dialog .amarillo {
    color: yellow;
}
.dialog .verde {
    color: green;
}