.wrap .root {
    width: 100%;
    position: relative;
    overflow: auto;
    height: 500px;
    padding: 0;
}

.wrap .root .sectionId {
    /*color: #e2be1b;*/
    list-style: unset;
}

.wrap .root .listSection {
    background-color: inherit;
}

.wrap .root .sectionId .listItem {
    background-color: white;
    margin-bottom: 1px;
    border-radius: 5px;
    padding: 5px;
}

.wrap .root .subtitle {
    padding: 0;
    font-size: medium;
    color: #404040;
    background-color: #f8f8f8;
    border-radius: 5px;
    border-bottom: 1px gainsboro solid;
}

a {
    color: #6CCE52;
}

ul {
    list-style: none;
    padding: 0px;
}