.symptom.title {
}

.symptom.list {
    border: none;
}

.symptom.list.item {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: #404040;
}

.symptom.list.item-text span {
    font-size: 13px;
    font-weight: bold;
}

.symptom.list.item-text p {
    font-size: 12px;
    color: black;
}

.symptom.list.item.normal-symptom {
    color: #f0e130;
    border: none;
    font-size: 25px;
}

.symptom.list.item.serious-symptom {
    color: #F20304;
    border: none;
    font-size: 25px;
}

.symptom.list.item.emergency-symptom {
    color: 	#ff0f0f;
    border: none;
    font-size: 25px;
}

.symptom.ambulance {
    width: 25px;
    height: 25px;
}