.symptom.title {
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

.symptom.list {
    border: none;
}

.symptom.list.item {
    border: 2px black solid;
    margin: 10px 0;
    border-radius: 10px;
}

.symptom.list.item.normal-symptom {
    color: #f0e130;
    border: none;
    font-size: 40px;
}

.symptom.list.item.serious-symptom {
    color: red;
    border: none;
    font-size: 40px;
}

.symptom.list.item.emergency-symptom {
    color: 	#ff0f0f;
    border: none;
    font-size: 40px;
}

.symptom.ambulance {
    width: 40px;
    height: 40px;
}